*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--root-font-size);
  // font-weight: ;
  // color: ;
  // scroll-behavior: smooth;
}

body {
  // line-height:
}

h1,
h2 {
  & + p,
  & + ul {
    // margin-top: ;
  }
}

h1 {
  font-size: var(--fsl);
}

h2 {
  font-size: var(--fsm);
  color: var(--primary-dark);
}

h3 {
  font-size: var(--fss);
  color: var(--primary-light);
}

hgroup {
  p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--stf);
  }
}

.maxwidth-container {
  @include maxwidth;
}

.contentwidth-container {
  @include contentwidth;
}

main section {
  margin-block-start: var(--bp);

  &:last-child {
    margin-block-end: var(--bp);
  }
}

// ...

.button {
  color: var(--negative);
  text-transform: uppercase;
  font-size: var(--stf);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border: solid 1px var(--primary-light);
  transition: background-color 0.25s ease;

  &:hover {
    background-color: var(--primary-light);
  }

  @include breakpoint(0, $tablet-end) {
    padding-block: rem(14);
    padding-inline: rem(26);
  }

  @include breakpoint($desktop) {
    padding-block: rem(22);
    padding-inline: rem(36);
  }
}
