/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

:root {
  --font-family: "Source Sans 3";
  --secondary-dark: hsla(0, 0%, 21%, 1);
  --secondary: hsla(0, 0%, 35%, 1);
  --secondary-light: hsla(0, 0%, 84%, 1);
  --secondary-extra-light: hsla(0, 0%, 97%, 1);
  --negative: hsla(0, 0%, 100%, 1);
  --primary-dark: hsla(26, 62%, 57%, 1);
  --primary: hsla(26, 82%, 65%, 1);
  --primary-light: hsla(26, 100%, 72%, 1);
  --primary-extra-light: hsla(23, 100%, 97%, 1);
}

:root {
  --stf: 1rem;
  --fss: 1.375rem;
  --fsm: 1.75rem;
  --fsl: 2.375rem;
  --smp: 0.5rem;
  --stp: 1rem;
  --mdp: 2rem;
  --bp: 4.5rem;
}

@media (min-width: 64.0625rem) {
  :root {
    --stf: 1.25rem;
    --fss: 2.125rem;
    --fsm: 3.375rem;
    --fsl: 4.375rem;
    --smp: 0.75rem;
    --stp: 2.5rem;
    --mdp: 5rem;
    --bp: calc(3rem + 2vw);
  }
}
/* source-sans-3-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/source-sans-3-v19-latin_latin-ext-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/source-sans-3-v19-latin_latin-ext-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--root-font-size);
}

h1 {
  font-size: var(--fsl);
}

h2 {
  font-size: var(--fsm);
  color: var(--primary-dark);
}

h3 {
  font-size: var(--fss);
  color: var(--primary-light);
}

hgroup p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--stf);
}

.maxwidth-container {
  margin-inline: auto;
  width: 100%;
  max-width: min(90vw, 100rem);
}

.contentwidth-container {
  margin-inline: auto;
  inline-size: 90vw;
  max-inline-size: min(90vw, 100rem);
}

main section {
  margin-block-start: var(--bp);
}
main section:last-child {
  margin-block-end: var(--bp);
}

.button {
  color: var(--negative);
  text-transform: uppercase;
  font-size: var(--stf);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border: solid 1px var(--primary-light);
  transition: background-color 0.25s ease;
}
.button:hover {
  background-color: var(--primary-light);
}
@media (min-width: 0rem) and (max-width: 64rem) {
  .button {
    padding-block: 0.875rem;
    padding-inline: 1.625rem;
  }
}
@media (min-width: 64.0625rem) {
  .button {
    padding-block: 1.375rem;
    padding-inline: 2.25rem;
  }
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #hamburger {
    all: unset;
    position: fixed;
    z-index: 3;
    inset-block-start: 0;
    inset-inline-end: 0;
    padding: var(--stp);
    height: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  #hamburger [class^=line-] {
    height: 1px;
    border: 1px solid var(--primary-light);
    transition: all 0.3s ease-out;
    display: inline-block;
  }
  #hamburger .line-1 {
    width: 25px;
  }
  #hamburger .line-2 {
    margin-block-start: 8px;
    margin-inline-start: 9px;
    width: 16px;
  }
  #hamburger.mobile-menu-open [class^=line-] {
    margin-block-start: 4px;
    transform-origin: center;
  }
  #hamburger.mobile-menu-open .line-1 {
    transform: rotate(-45deg);
  }
  #hamburger.mobile-menu-open .line-2 {
    width: 25px;
    margin-inline-start: 0;
    margin-block-start: -2px;
    transform: rotate(45deg);
  }
}
@media (min-width: 0rem) and (max-width: 37.4375rem) {
  #mainnav ul {
    position: fixed;
    z-index: 1;
    inset-block-start: 0;
    inset-inline-end: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.25s ease-out;
    padding: var(--stp);
    background-color: var(--secondary-dark);
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--mdp);
  }
  #mainnav ul li:first-child {
    margin-block-start: calc(var(--mdp) + 1em);
  }
  #mainnav ul li a {
    font-size: var(--fss);
    text-decoration: none;
    color: var(--negative);
  }
  #mainnav #hamburger.mobile-menu-open + ul {
    visibility: visible;
    transform: translateX(0);
  }
}
@media (min-width: 37.5rem) {
  #mainnav {
    margin-block-start: var(--stp);
    margin-inline-end: var(--stp);
  }
  #mainnav button#hamburger {
    display: none;
    visibility: hidden;
  }
  #mainnav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  #mainnav ul li {
    display: inline-block;
  }
  #mainnav ul li a {
    font-size: var(--stf);
    color: var(--primary-light);
    text-underline-offset: 0.625rem;
    margin-left: 1.875rem;
    white-space: nowrap;
  }
}
@media (min-width: 0rem) and (max-width: 46.8125rem) {
  header {
    background: url("./images/chris_hero-750.webp"), black;
  }
}
@media (min-width: 46.875rem) and (max-width: 93.6875rem) {
  header {
    background: url("./images/chris_hero-1500.webp"), black;
  }
}
@media (min-width: 93.75rem) {
  header {
    background: url("./images/chris_hero-3000.webp"), black;
  }
}
@media only screen and (max-width: 349px) and (min-resolution: 192dpi) {
  header {
    background: url("./images/chris_hero-750.webp"), black;
  }
}
@media only screen and (min-width: 350px) and (max-width: 749px) and (min-resolution: 192dpi) {
  header {
    background: url("./images/chris_hero-1500.webp"), black;
  }
}
@media only screen and (min-width: 750px) and (min-resolution: 192dpi) {
  header {
    background: url("./images/chris_hero-3000.webp"), black;
  }
}
header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr;
  min-height: 80vh;
  background-repeat: no-repeat, no-repeat;
}
header > a {
  font-size: var(--stf);
  color: var(--negative);
  text-decoration: none;
  display: inline-block;
  margin-block-start: var(--stp);
  margin-inline-start: var(--stp);
}
header > a strong {
  font-weight: 600;
  text-transform: uppercase;
}
header div.hero-text {
  margin-inline: auto;
  width: 100%;
  max-width: min(90vw, 100rem);
  grid-column-start: 1;
  grid-column-end: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--stp);
  padding-inline: var(--stp);
}
header div.hero-text h1 {
  color: var(--primary);
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  header {
    background-size: 150%, cover;
    background-position: center, center;
  }
  header div.hero-text > * {
    margin-left: 50%;
  }
}
@media (min-width: 37.5rem) {
  header {
    background-size: contain, cover;
    background-position: 95% center, center;
  }
  header div.hero-text {
    margin-block-end: 10%;
  }
  header div.hero-text h1 br {
    display: none;
    visibility: hidden;
  }
}
footer {
  position: relative;
  background-color: var(--secondary-dark);
  padding-block: var(--stp);
  padding-inline: var(--stp);
  color: var(--negative);
  font-size: var(--stf);
}
footer p:first-child {
  font-size: var(--fss);
}
footer .imprint {
  color: var(--primary);
  text-decoration: none;
}
footer h2,
footer h3 {
  margin-block-start: var(--stp);
}
footer ul li a {
  color: var(--negative);
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

@media (min-width: 0rem) and (max-width: 37.4375rem) {
  footer .imprint {
    display: inline-block;
    margin-block: var(--stp);
  }
}
@media (min-width: 37.5rem) {
  footer .imprint {
    position: absolute;
    inset-block-start: var(--stp);
    inset-inline-end: var(--stp);
  }
}
section#workshops {
  margin-inline: auto;
  inline-size: 90vw;
  max-inline-size: min(90vw, 100rem);
}
section#workshops .levels {
  counter-reset: item var(--counter, 4);
}
section#workshops .levels .level {
  background-color: var(--secondary-dark);
  counter-increment: item -1;
}
section#workshops .levels .level .count::before {
  content: counter(item);
}
section#workshops .levels .level > img {
  background-color: var(--secondary);
  clip-path: circle();
}
section#workshops .levels .level .level-text p {
  font-size: var(--stf);
  color: var(--negative);
  margin-block-end: var(--stp);
  margin-block-start: var(--smp);
  line-height: 1.2;
}
section#workshops .levels .level blockquote {
  display: flex;
  flex-direction: column;
}
section#workshops .levels .level blockquote p {
  font-size: var(--fss);
  color: var(--negative);
}

@media (min-width: 0rem) and (max-width: 64rem) {
  section#workshops .levels .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem;
    position: relative;
    margin-block-start: calc(7.1875rem / 2 - 5px + var(--mdp));
  }
  section#workshops .levels .level > img {
    inline-size: 7.1875rem;
    margin-block-start: -3.59375rem;
    padding: var(--mdp);
  }
  section#workshops .levels .level .count {
    block-size: 2.3125rem;
    inline-size: 2.3125rem;
    background-color: var(--secondary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: calc(-7.1875rem / 2 + 5px);
    left: calc(50% + 2.3125rem - 5px);
    z-index: -1;
  }
  section#workshops .levels .level .count p {
    font-size: var(--fsm);
    font-weight: 600;
    color: var(--primary-dark);
  }
  section#workshops .levels .level blockquote {
    align-items: center;
  }
  section#workshops .levels .level blockquote p {
    margin-block-start: -10px;
  }
  section#workshops .levels .level blockquote img {
    block-size: 3.125rem;
  }
}
@media (min-width: 64.0625rem) {
  section#workshops .levels {
    display: flex;
    flex-direction: column;
  }
  section#workshops .levels .level {
    width: 80%;
    margin-inline-start: 130px;
    position: relative;
    margin-block-start: var(--mdp);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-block: var(--stp);
    padding-inline: var(--stp);
    gap: 4.6875rem;
  }
  section#workshops .levels .level > img {
    padding: min(2.5vw, var(--mdp));
    width: 100%;
    align-self: center;
    min-width: 8rem;
  }
  section#workshops .levels .level .count {
    position: absolute;
    transform: translateX(-100%);
  }
  section#workshops .levels .level .count::before {
    font-size: 300px;
    font-weight: 600;
    color: var(--secondary-dark);
    line-height: 0.65em;
    display: inline-block;
    margin-right: -0.08em;
  }
  section#workshops .levels .level blockquote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  section#workshops .levels .level blockquote img {
    block-size: 8.5rem;
  }
  section#workshops .levels .level:nth-child(1) {
    align-self: flex-end;
  }
  section#workshops .levels .level:nth-child(1) > img {
    grid-column: 3/4;
  }
  section#workshops .levels .level:nth-child(1) .level-text {
    grid-column: 1/3;
    grid-row: 1/1;
  }
  section#workshops .levels .level:nth-child(1) blockquote {
    grid-column: 4/5;
    flex-direction: column-reverse;
  }
  section#workshops .levels .level:nth-child(1) blockquote img {
    position: relative;
    top: calc(var(--stp) + 20px);
    left: calc(var(--stp) + 5px);
  }
  section#workshops .levels .level:nth-child(2) {
    align-self: center;
  }
  section#workshops .levels .level:nth-child(2) .count {
    top: 50%;
    transform: translate(-100%, -50%);
  }
  section#workshops .levels .level:nth-child(2) > img {
    grid-column: 2/3;
    grid-row: 1/1;
  }
  section#workshops .levels .level:nth-child(2) .level-text {
    grid-column: 3/5;
    grid-row: 1/1;
  }
  section#workshops .levels .level:nth-child(2) blockquote {
    grid-column: 1/2;
  }
  section#workshops .levels .level:nth-child(2) blockquote img {
    align-self: flex-end;
    position: relative;
    top: calc((var(--stp) + 20px) * -1);
  }
  section#workshops .levels .level:nth-child(3) .count {
    bottom: -4px;
  }
  section#workshops .levels .level:nth-child(3) > img {
    grid-column: 1/2;
  }
  section#workshops .levels .level:nth-child(3) .level-text {
    grid-column: 2/4;
    grid-row: 1/1;
  }
  section#workshops .levels .level:nth-child(3) blockquote {
    grid-column: 4/5;
  }
  section#workshops .levels .level:nth-child(3) blockquote img {
    position: relative;
    top: calc((var(--stp) - 10px) * -1);
    right: calc((var(--stp) + 20px) * -1);
  }
}
section#about {
  background-color: var(--primary-extra-light);
  padding-block: var(--bp);
}
section#about .about-wrapper .about-image img {
  width: 100%;
}
section#about .about-wrapper .about-content .text {
  font-size: var(--stf);
  line-height: 1.5;
  color: var(--secondary);
}
section#about .about-wrapper .about-content .text * {
  margin-block-start: var(--stp);
}
section#about .about-wrapper .about-content .text .button {
  color: black;
}

@media (min-width: 0rem) and (max-width: 64rem) {
  .about-content {
    margin-block-start: var(--stp);
    margin-inline: auto;
    inline-size: 90vw;
    max-inline-size: min(90vw, 100rem);
  }
}
@media (min-width: 64.0625rem) {
  section#about .about-wrapper {
    margin-inline: auto;
    inline-size: 90vw;
    max-inline-size: min(90vw, 100rem);
    display: flex;
    gap: var(--stp);
  }
  section#about .about-wrapper .col {
    width: 50%;
  }
  section#about .about-wrapper .about-image {
    position: relative;
  }
  section#about .about-wrapper .about-image img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: 20% center;
  }
  section#about .about-wrapper .about-content {
    padding: var(--stp);
  }
}
section#news {
  margin-inline: auto;
  inline-size: 90vw;
  max-inline-size: min(90vw, 100rem);
}
section#news .articles {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: var(--stp);
  margin-block-start: var(--stp);
}
section#news .articles article {
  scroll-snap-align: start;
  background-color: var(--secondary-extra-light);
  display: flex;
  flex-direction: column;
}
section#news .articles article img {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}
section#news .articles article .text {
  padding: var(--stp);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section#news .articles article .text h3 {
  margin-block-end: var(--stp);
}
section#news .articles article .text h3 a {
  color: var(--primary-dark);
  text-underline-offset: 10px;
  text-decoration-thickness: 5%;
  line-height: 1.4;
}
section#news .articles article .text p {
  margin-block-end: var(--stp);
  font-size: var(--stf);
  line-height: 1.2;
}
section#news .articles article .text .button {
  margin-block-start: auto;
  color: black;
}

@media (min-width: 0rem) and (max-width: 64rem) {
  .articles article {
    flex: 1 0 80%;
  }
}
@media (min-width: 64.0625rem) {
  .articles article {
    flex: 1 0 29%;
  }
}

/*# sourceMappingURL=style.css.map */
