section#workshops {
  @include contentwidth;

  .levels {
    counter-reset: item var(--counter, 4);

    .level {
      background-color: var(--secondary-dark);
      counter-increment: item -1;

      .count::before {
        content: counter(item);
      }

      & > img {
        background-color: var(--secondary);
        clip-path: circle();
      }

      .level-text {
        p {
          font-size: var(--stf);
          color: var(--negative);
          margin-block-end: var(--stp);
          margin-block-start: var(--smp);
          line-height: 1.2;
        }
      }

      blockquote {
        display: flex;
        flex-direction: column;

        p {
          font-size: var(--fss);
          color: var(--negative);
        }
      }
    }
  }
}

@include breakpoint(0, $tablet-end) {
  section#workshops {
    .levels {
      .level {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
        padding: rem(16);
        position: relative;
        margin-block-start: calc(rem(115) / 2 - 5px + var(--mdp));

        & > img {
          inline-size: rem(115);
          margin-block-start: rem(calc(-115 / 2));
          padding: var(--mdp);
        }

        .count {
          block-size: rem(37);
          inline-size: rem(37);
          background-color: var(--secondary-light);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          position: absolute;
          top: calc(rem(-115) / 2 + 5px);
          left: calc(50% + rem(37) - 5px);
          z-index: -1;

          p {
            font-size: var(--fsm);
            font-weight: 600;
            color: var(--primary-dark);
          }
        }

        blockquote {
          align-items: center;

          p {
            margin-block-start: -10px;
          }

          img {
            block-size: rem(50);
          }
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  section#workshops {
    .levels {
      display: flex;
      flex-direction: column;

      .level {
        width: 80%;
        margin-inline-start: 130px;
        position: relative;
        margin-block-start: var(--mdp);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-block: var(--stp);
        padding-inline: var(--stp);
        gap: rem(75);

        & > img {
          padding: min(2.5vw, var(--mdp));
          width: 100%;
          align-self: center;
          min-width: 8rem;
        }

        .count {
          position: absolute;
          transform: translateX(-100%);

          &::before {
            font-size: 300px;
            font-weight: 600;
            color: var(--secondary-dark);
            line-height: 0.65em;
            display: inline-block;
            margin-right: -0.08em;
          }
        }

        blockquote {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          img {
            block-size: rem(136);
          }
        }

        &:nth-child(1) {
          align-self: flex-end;

          & > img {
            grid-column: 3 / 4;
          }

          .level-text {
            grid-column: 1 / 3;
            grid-row: 1 / 1;
          }

          blockquote {
            grid-column: 4 / 5;
            flex-direction: column-reverse;

            img {
              position: relative;
              top: calc(var(--stp) + 20px);
              left: calc(var(--stp) + 5px);
            }
          }
        }

        &:nth-child(2) {
          align-self: center;

          .count {
            top: 50%;
            transform: translate(-100%, -50%);
          }

          & > img {
            grid-column: 2 / 3;
            grid-row: 1 / 1;
          }

          .level-text {
            grid-column: 3 / 5;
            grid-row: 1 / 1;
          }

          blockquote {
            grid-column: 1 / 2;

            img {
              align-self: flex-end;
              position: relative;
              top: calc((var(--stp) + 20px) * -1);
            }
          }
        }

        &:nth-child(3) {
          .count {
            bottom: -4px;
          }

          & > img {
            grid-column: 1 / 2;
          }

          .level-text {
            grid-column: 2 / 4;
            grid-row: 1 / 1;
          }

          blockquote {
            grid-column: 4 / 5;

            img {
              position: relative;
              top: calc((var(--stp) - 10px) * -1);
              right: calc((var(--stp) + 20px) * -1);
            }
          }
        }
      }
    }
  }
}
